<li><a href="{{ site.customer-portal }}index.html" class="otherLinkColour">Guide Index</a></li>
<li><a class="otherLinkColour">General</a>
    <ul>
        <li><a href="{{ site.customer-portal }}trial-license.html" class="otherLinkColour">Request a Trial License</a></li>
        <li><a href="{{ site.customer-portal }}quote-purchase.html" class="otherLinkColour">Purchase by Quote</a></li>
        <li><a href="{{ site.customer-portal }}full-license.html" class="otherLinkColour">Get Full License and Product</a></li>
    </ul>
</li>
<li><a class="otherLinkColour">License Management</a>
    <ul>
        <li><a href="{{ site.customer-portal }}request-upgrade.html" class="otherLinkColour">Request Upgrade</a></li>
        <li><a href="{{ site.customer-portal }}renewal.html" class="otherLinkColour">Renew License / Maintenance</a></li>
        <li><a href="{{ site.customer-portal }}expand-quota.html" class="otherLinkColour">Expand Quota of Runtime License</a></li>
        <li><a href="{{ site.customer-portal }}quota-usage.html" class="otherLinkColour">Check Quota Usage</a></li>
    </ul>
</li>
<li><a class="otherLinkColour">Account & Communication</a>
    <ul>
        <li><a href="{{ site.customer-portal }}manage-contacts.html" class="otherLinkColour">Manage Contacts</a></li>
        <li><a href="{{ site.customer-portal }}email-notification.html" class="otherLinkColour">Email Notification</a></li>
    </ul>
</li>
<li><a href="{{ site.customer-portal }}faq.html" class="otherLinkColour">FAQ</a></li>