<li><a href="{{ site.customer-portal }}index.html" class="otherLinkColour">Customer Portal</a>
    <ul>
        {%- if page.url contains '/customer-portal/' -%}
        <li><a href="{{ site.customer-portal }}trial-license.html" class="otherLinkColour">Request a trial license</a></li>
        <li><a href="{{ site.customer-portal }}quote-purchase.html" class="otherLinkColour">Purchase by a quote</a></li>
        <li><a href="{{ site.customer-portal }}full-license.html" class="otherLinkColour">Get full license and product</a></li>
        <li><a href="{{ site.customer-portal }}request-upgrade.html" class="otherLinkColour">Request upgrade</a></li>
        <li><a href="{{ site.customer-portal }}renewal.html" class="otherLinkColour">Renew license or maintenance</a></li>
        <li><a href="{{ site.customer-portal }}expand-quota.html" class="otherLinkColour">Expand quota of runtime license</a></li>
        <li><a href="{{ site.customer-portal }}manage-contacts.html" class="otherLinkColour">Manage contacts</a></li>
        <li><a href="{{ site.customer-portal }}email-notification.html" class="otherLinkColour">Email notification</a></li>
        <li><a href="{{ site.customer-portal }}faq.html" class="otherLinkColour">FAQ</a></li>
        <!-- if there are more than one pages in this folder, you can define more <li>s here like: -->
        <!--  
        <li>Test1</li>
        <li>Test2</li>
        <li>Test3</li>
        -->
        {%- endif -%}
    </ul>
</li>